@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
:root {
  background-color: rgba(237, 240, 241);
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

/* MOBILE BREAKPOINT */
@media only screen and (max-width: 700px) {
  /* DASHBOARD -> SIDE NAVBAR */
  .side-navbar {
    position: fixed;
    overflow-y: scroll;
    height: 100%;
  }
  .side-navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  }
  .side-navbar-text {
    display: flex;
  }
  .side-navbar-items {
    display: flex;
  }

  /* DASHBOARD -> TOP NAVBAR */
  .top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .top-navbar-title {
    display: none;
  }
  .show-sidebar-icon {
    display: block;
    height: 2rem;
    color: aliceblue;
  }
}

.title {
  font-family: "Crimson Text", serif;
  letter-spacing: 4%;
}

.wrapper {
  position: relative;
}

@media only screen and (min-width: 701px) {
  .show-sidebar-icon {
    display: none;
  }
}

.googleIcon {
  transform: translateY(-16%);
  padding-left: 18px;
}

.userIcon {
  transform: translateY(45%);
  padding-left: 8px;
}

.keyIcon {
  padding-left: 7px;
  transform: translateY(-140%);
}

.welcome {
  font-family: "Crimson Text", serif;
  font-size: 2rem;
  font-weight: 400;
}
